<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8">
	<title>About Sybil</title>
    <link href="{{ font_url }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
	<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="about">About</a>
			<a href="cybersecurity">Search Cybersecurity Keywords</a>
			<a href="terrorism">Search Terrorism Keywords</a>
	</div>
    <h1> About Sybil </h1>
	<p> Sybil performs keyword sentiment analysis on Reddit posts, utilizing a list of keywords compiled by the Department of Homeland Security. The API is built with Python, Flask and Jinja, and sentiment analysis is done with the NLTK Sentiment Analysis API </p>
	
	<div class="links">
			<a href="https://gist.github.com/jm3/2815378"> Full list of keywords </a>
			<a href="http://text-processing.com/docs/sentiment.html">NLTK Sentiment Analysis API</a>	  
		  </div>
  </body>
</html>